{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

<div class="page-header">
    <h1>Edit tag</h1>
</div>

{% if session['admin'] %}

    {% if messages['errors'] %}
        {% for error in messages['errors'] %}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {% endfor %}
    {% endif %}

    {% if messages['warnings'] %}
        {% for warning in messages['warnings'] %}
        <div class="alert alert-warning">
            {{warning}}
        </div>
        {% endfor %}
    {% endif %}

    {% if tag %}

    <form action="/tags/{{tag.uid}}/edit" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="title" value="{% if messages and messages['title'] %}{{messages['title']}}{% else %}{{tag.title}}{% endif %}">
        </div>

        <button class="btn btn-primary" type="submit">Update</button>
        <a class="btn btn-danger" href="/tags" value="Cancel">Cancel</a>
    </form>

    {% else %}

    <div>
        <h2>Tag not found</h2>
    </div>

    {% endif %}

{% else %}

<div class="alert alert-danger">
    Insufficient privileges.
</div>

{% endif %}

{% endblock %}
