{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

<div class="page-header">
    <h1>New thread</h1>
</div>

{% if session['signed_in'] %}

    {% if messages['errors'] %}
        {% for error in messages['errors'] %}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {% endfor %}
    {% endif %}

    <form action="/threads/new" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="title" value="{{messages['title']}}">

            <label>Content</label>
            <textarea class="form-control" rows="6" name="content">{{messages['content']}}</textarea>

            <label>Tags</label>

            {% if tags %}
            
            <select class="form-control" name="tags" multiple="">
                {% for tag in tags %}
                    {% if tag.uid in messages['tag_ids'] %}
                    <option value="{{tag.uid}}" selected>{{tag.title}}</option>
                    {% else %}
                    <option value="{{tag.uid}}">{{tag.title}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            {% else %}

            <div>
                <p><i>No tags found.</i></p>
                
                <br/>

                {% if session['admin'] %}
                <a class="btn btn-primary btn-sm" href="/tags/new">Create new tag</a>
                {% endif %}
            </div>

            {%endif%}
        </div>

        <button class="btn btn-primary" type="submit">Create</button>
    </form>

{% else %}

<div class="alert alert-danger">
    You must be signed in to create a new thread.
</div>

{% endif %}

{% endblock %}
