{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

<div class="page-header">
    <h1>Profile</h1>
</div>

{% if messages and messages['welcome'] %}
<div class="alert alert-success">
    {{messages['welcome']}}
</div>
{% endif %}

{% if session['signed_in'] %}

    {% if edit %}

    <form action="/profile/edit" method="POST">
        <div class="form-group">
            <label>Display name</label>
            {% if account %}
            <input class="form-control" type="text" value="{{account.display_name}}">
            {% else %}
            <input class="form-control" type="text" value="{{session['display_name']}}">
            {% endif %}
        </div>

        <button class="btn btn-success" type="submit" value="Update profile">Update</button>
        <a class="btn btn-danger" href="/profile" value="Cancel">Cancel</a>
    </form>

    {% else %}

    <form action="/signout" method="POST">
        <div class="form-group">
            <label>Display name</label>
            {% if account %}
            <p>{{account.display_name}}</p>
            {% else %}
            <p><i>No display name set.</i></p>
            {% endif %}
        </div>

        <a class="btn btn-primary" href="/profile/edit">Edit</a>
        <button class="btn btn-danger" type="submit">Sign out</button>
    </form>

    {% endif %}

{% else %}

<div class="alert alert-danger">
    Not signed in.
</div>

{% endif %}

{% endblock %}
