{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

<div class="page-header">
    <h1>Profile</h1>
</div>

{% if edit %}
<form action="/edit" method="post">
    <div class="form-group">
        <label>Display name</label>
        <input class="form-control" type="text" value="Firstname L">
    </div>

    <button class="btn btn-success" type="submit" value="Update profile">Update</button>
    <a class="btn btn-danger" href="/profile" value="Cancel">Cancel</a>
</form>
{% else %}
<form action="/profile/edit" method="get">
    <div class="form-group">
        <label>Display name</label>
        <p>Firstname L</p>
    </div>

    <button class="btn btn-primary" type="submit" value="Edit profile">Edit</button>
</form>
{% endif %}

{% endblock %}