{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

{% if tag %}

<div class="page-header">
    <h1>{{tag.title}}</h1>
</div>

    {% if session['admin'] %}
    <form action="/tags/{{tag.uid}}/delete" method="POST">
        <a class="btn btn-primary" href="/tags/{{tag.uid}}/edit">Edit tag</a>
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
    <div class="control-group">&nbsp;</div>
    {% endif %}

<div>
    <p><span class="badge badge-primary badge-pill">{{tag.count}}</span> post{% if tag.count != 1 %}s{% endif %}</p>
</div>

{% else %}

<div>
    <h2>Tag not found</h2>
</div>

{% endif %}

{% endblock %}
