{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

<div class="page-header">
    <h1>Tags</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Posts</th>
        </tr>
    </thead>

    <tbody>
        {% for tag in tags %}
            <tr>
                <td><a class="btn btn-default btn-sm" href="/tags/{{tag.uid}}">{{tag.title}}</a></td>
                <td>{{tag.count}}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}