{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

<div class="page-header">
    <h1>Threads</h1>
</div>

{% if session['signed_in'] %}
<a class="btn btn-primary" href="/threads/new">Create new thread</a>
<div class="control-group">&nbsp;</div>
{% endif %}

{% if threads %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Tags</th>
            <th>Author</th>
            <th>Posted</th>
            <th>Responses</th>
            <th>Last active</th>
        </tr>
    </thead>

    <tbody>
        {% for thread in threads %}
        <tr>
            <td><a href="/threads/{{thread.uid}}">{{thread.title}}</a></td>
            <td>
                {% if thread.tags %}
                    {% for tag in thread.tags %}
                    <a class="btn btn-default btn-sm" href="/tags/{{tag.uid}}">{{tag.title}}</a>
                    {% endfor %}
                {% else %}
                    <p><i>None</i></p>
                {% endif %}
            </td>
            <td><a href="/users/{{thread.author.uid}}">{% if thread.author.display_name %}{{thread.author.display_name}}{% else %}{{thread.author.username}}{% endif %}</a></td>
            <td><time datetime="{{thread.created}}">{{thread.created}} UTC</time></td>
            <td><p>{{thread.response_count}}</p></td>
            <td><time datetime="{{thread.last_active}}">{{thread.last_active}} UTC</time></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div>
    <h2>No threads found.</h2>
</div>

{% endif %}

{% endblock %}
