{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

<div class="page-header">
    <h1>Threads</h1>
</div>

{% if session['signed_in'] %}
<a class="btn btn-primary" href="/threads/new">Create new thread</a>
<div class="control-group">&nbsp;</div>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Tags</th>
            <th>Author</th>
            <th>Posted</th>
            <th>Responses</th>
            <th>Last active</th>
        </tr>
    </thead>

    <tbody>
        {% for thread in threads %}
        <tr>
            <td><a href="/threads/{{thread.uid}}">{{thread.title}}</a></td>
            <td>
                {% if thread.tags %}
                    {% for tag in thread.tags %}
                    <a class="btn btn-default btn-sm" href="/tags/{{tag.uid}}">{{tag.title}}</a>
                    {% endfor %}
                {% else %}
                    <i>None</i>
                {% endif %}
            </td>
            <td><a href="/user/{{thread.author.uid}}">{% if thread.author.display_name %}{{thread.author.display_name}}{% else %}{{thread.author.username}}{% endif %}</a></td>
            <td>{{thread.created}}</td>
            <td>{{thread.response_count}}</td>
            <td>{{thread.last_active}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
